__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore

.pytest_cache/
.mypy_cache/

tests/
notebooks/

.env

venv/
.venv/

dist/
build/

*.log

artifacts/

.idea/
.vscode/

data/experiments
data/files
data/configs/dataset_generation
data/configs/evaluations