LOG_LEVEL=INFO

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=rag

DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/rag

LLM_MODEL_PATH=llama/models
LLM_URL=http://localhost:8001
EVALUATOR_LLM_BASE_URL=http://localhost:8002
EXPERIMENT_CONFIG=data/configs/responses/server_rag.json
EMBEDDING_DEVICE=cpu
# опционально
EMBEDDING_MODEL_URL=
