# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/


# ===============================
# Environment / secrets
# ===============================
.env
.env.*
!.env.example

# ===============================
# Logs
# ===============================
*.log
logs/

# ===============================
# Jupyter / experiments
# ===============================
.ipynb_checkpoints/
.notebooks/


# ===============================
# Embeddings / vector data
# ===============================
embeddings/
*.npy

# ===============================
# Local data / ingestion
# ===============================
data/files


# ===============================
# Database
# ===============================
pgdata/

# ===============================
# Docker
# ===============================
*.pid
docker-compose.override.yml

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# Test / coverage
# ===============================
.pytest_cache/
.coverage
htmlcov/

# ===============================
# FastAPI / Uvicorn
# ===============================
*.sock
